# yarn files
frontend/yarn.lock
frontend/.pnp.*
frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/sdks
!frontend/.yarn/versions

backend/yarn.lock
backend/.pnp.*
backend/.yarn/*
!backend/.yarn/patches
!backend/.yarn/plugins
!backend/.yarn/releases
!backend/.yarn/sdks
!backend/.yarn/versions

# macOS
.DS_Store