# yarn files
frontend/yarn.lock
frontend/.pnp.*
frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/sdks
!frontend/.yarn/versions

app/yarn.lock
app/.pnp.*
app/.yarn/*
!app/.yarn/patches
!app/.yarn/plugins
!app/.yarn/releases
!app/.yarn/sdks
!app/.yarn/versions

presentation/yarn.lock
presentation/.pnp.*
presentation/.yarn/*
!presentation/.yarn/patches
!presentation/.yarn/plugins
!presentation/.yarn/releases
!presentation/.yarn/sdks
!presentation/.yarn/versions
# macOS
.DS_Store
