# --- General ---
pathlib
natsort

# --- app development ---
kivy
buildozer
cython==0.28.6


# --- computer vision ---
# ultralytics
opencv-python
ffmpeg-python

# --- data science ---
pandas
# polars # may be used later on for faster data processing
# pyarrow
# numpy

# --- notebooks ---
tqdm
jupyterlab
ipywidgets==7.7.1