# --- General ---
pathlib
natsort

# --- app development ---
kivy

# --- computer vision ---
# ultralytics
opencv-python

# --- data science ---
pandas
polars # may be used later on for faster data processing
pyarrow
numpy

# --- notebooks ---
tqdm
jupyterlab
ipywidgets==7.7.1