.Model {
  height: 100vh;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--text-primary);
  background-color: var(--background);
  transition: all .5s;
}

.Model>* {
  margin: 3px 0;
}

.header {
  text-align: center;
}

.header p {
  margin: 5px 0;
}

.code {
  padding: 5px;
  color: greenyellow;
  background-color: black;
  border-radius: 5px;
}

.content>img {
  width: 100%;
  max-width: 720px;
  max-height: 500px;
  border-radius: 10px;
}

.content {
  position: relative;
}

.content>canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

button {
  text-decoration: none;
  color: var(--text-primary);
  background-color: var(--background);
  border: 2px var(--text-primary) solid;
  margin: 0 5px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  transition: all .5s;
}

.theme-button {
  align-items: right;
  width: 100%;  
}

button:hover {
  color: black;
  background-color: white;
  border: 2px solid black;
}

/* Popover Styling */
.popover {
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.popover-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.popover-content {
  margin-top: 5px;
}

:root {
  --background: white;
  --text-primary: black;
  --text-secondary: royalblue;
  --accent: purple;
}

[data-theme='dark'] {
  --background: #17263f;
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred;
}