<!DOCTYPE html>
<html>
<head>
    <title>Upload Image</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>

    {% if lowlight_filename %}
        <h2>Original Image</h2>
        <img src="{{ url_for('static', filename='uploads/' + lowlight_filename) }}" alt="Low Light Image">

        {% if adjusted_filename %}
            <h2>Adjusted Image</h2>
            <img src="{{ url_for('static', filename='uploads/' + adjusted_filename) }}" alt="Adjusted Image">
        {% endif %}
    {% endif %}
</body>
</html>
