:root {
  --background: white;
  --text-primary: black;
  --text-secondary: royalblue;
  --accent: purple;
}
[data-theme='dark'] {
  --background: #17263f;
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred;
}
/* ===================================================================================== */
.image-instructions {
  margin: 0 auto; /* Centers the image */
}

.carousel-item-wrapper {
  text-align: center;
  height: auto; /* Adjust height based on the content */
}

.carusel-style {
  width: 450px; /* Full width of the container */
  margin: 0 auto; /* Center the carousel */
}

.carousel-title {
  text-align: center;
}

/* ===================================================================================== */


.Model {
  /* margin-top: 250px; */
  /* height: 100vh; */
  height: auto;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-primary);
  background-color: var(--background); 
  transition: all .5s;
}

html{
  background-color: var(--background); 
}


body {
  background-color: var(--background); 
}


.Model>* {
  /* margin: 5px 0; */
  padding: 5px 0;
}

.header {
  /* margin-top: 50%; */
  text-align: center;
  align-items: center;
}

.header p {
  margin: 5px 0;
}

.code {
  padding: 5px;
  color: greenyellow;
  background-color: black;
  border-radius: 5px;
}

.content>img {
  height: 250px;
  max-width: 720px;
  max-height: 500px;
  border-radius: 10px;
}

.content {
  position: relative;
}

.content>canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

button {
  text-decoration: none;
  color: var(--text-primary);
  background-color: var(--background);
  border: 2px var(--text-primary) solid;
  margin: 0 5px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  transition: all .5s;
}

.theme-button {
  display: flex;
  justify-content: space-around; 
  flex-direction: row-reverse;
  /* align-items: right; */
  margin-right: auto;
  margin-left:auto;
  width: 100%;
  margin-top: 20px;
}

.logo {
  max-width: 25%;
}

.retake-button {
  background-color: red;
  margin-left: 32.5%;
  margin-right: 32.5%;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 35%;
  height: 40px;
}

.share-button {
  background-color: green;
  width: 150px;
  height: 50px;
  font-size: 20px;
}

button:hover {
  color: black;
  background-color: white;
  border: 2px solid black;
}

/* Popover Styling */
.popover {
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.popover-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.popover-content {
  margin-top: 5px;
}



/* <<<<<<<<<<<<<<<<<<< from instruction page >>>>>>>>>>>>>>>>>> */

.container {
  text-align: 'center';
  margin: '50px auto';
  padding: '20px';
  max-width: '600px';
  border: '1px solid #ccc';
  border-radius: '5px';
  box-shadow: '0 2px 4px rgba(0, 0, 0, 0.1)';
}
title {
  font-size: '24px';
  font-weight: 'bold';
  margin-bottom: '20px';
}
.text {
  font-size: large;
  margin-bottom: '20px';
}
p{
  font-size: large;
  margin-bottom: '20px';
}

.list {
  text-align: 'left';
  margin : 50px;
  margin-top: 25px;
  padding-top: 30px;
  padding-bottom: 30px;

}

.list-item {
  margin-bottom: '10px';
  padding: '100px';
  text-align: left;
  font-size: large;
}

button {
  display: 'inline-block';
  padding: '10px 20px';
  font-size: '16px';
  font-weight: 'bold';
  color: '#fff';
  background-color: '#007bff';
  border: 'none';
  border-radius: '5px';
  cursor: 'pointer';
  text-decoration: 'none';
}


/* <<<<<<<<<<<<<<<<<<< FROM LOADER >>>>>>>>>>>>>>>>>> */
textLoader {
  margin-top: "10px";
}
spinner {
  width: "50px";
  height: "50px";
  border: "5px solid #f3f3f3";
  border-top: "5px solid #3498db";
  border-radius: "50%";
  animation: "spin 1s linear infinite";
}
wrapper {
  display: "flex";
  flex-direction: "column";
  align-items: "center";
  justify-content: "center";
  height: "100vh";
}
/* ================================================================ */
/* ================================================================ */
.image-instructions{
  height: 50px;
}
.instructions-container{
  align-items: right;
  display: flex;
  justify-content: right;
}


/* ================================================================ */
/* ================================================================ */
.share_pic{
  align-items: center;  
}

.center{
  align-items: center;
  display: flex;
  justify-content: center;
}

.btn-container {
  display: flex;           /* This sets the container to be a flex container */
  flex-direction: column;
  align-items: center;
  background-color: var(--background);

}
.bottom-button-con{
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
/* =============================== Loader ================================= */

.wheel-and-hamster {
  --dur: 1s;
  position: relative;
  width: 12em;
  height: 12em;
  font-size: 14px;
  margin-top: 30%;
}

.wheel,
.hamster,
.hamster div,
.spoke {
  position: absolute;
}

.wheel,
.spoke {
  border-radius: 50%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wheel {
  background: radial-gradient(100% 100% at center,hsla(0,0%,60%,0) 47.8%,hsl(0,0%,60%) 48%);
  z-index: 2;
}

.hamster {
  animation: hamster var(--dur) ease-in-out infinite;
  top: 50%;
  left: calc(50% - 3.5em);
  width: 7em;
  height: 3.75em;
  transform: rotate(4deg) translate(-0.8em,1.85em);
  transform-origin: 50% 0;
  z-index: 1;
}

.hamster__head {
  animation: hamsterHead var(--dur) ease-in-out infinite;
  background: hsl(30,90%,55%);
  border-radius: 70% 30% 0 100% / 40% 25% 25% 60%;
  box-shadow: 0 -0.25em 0 hsl(30,90%,80%) inset,
		0.75em -1.55em 0 hsl(30,90%,90%) inset;
  top: 0;
  left: -2em;
  width: 2.75em;
  height: 2.5em;
  transform-origin: 100% 50%;
}

.hamster__ear {
  animation: hamsterEar var(--dur) ease-in-out infinite;
  background: hsl(0,90%,85%);
  border-radius: 50%;
  box-shadow: -0.25em 0 hsl(30,90%,55%) inset;
  top: -0.25em;
  right: -0.25em;
  width: 0.75em;
  height: 0.75em;
  transform-origin: 50% 75%;
}

.hamster__eye {
  animation: hamsterEye var(--dur) linear infinite;
  background-color: hsl(0,0%,0%);
  border-radius: 50%;
  top: 0.375em;
  left: 1.25em;
  width: 0.5em;
  height: 0.5em;
}

.hamster__nose {
  background: hsl(0,90%,75%);
  border-radius: 35% 65% 85% 15% / 70% 50% 50% 30%;
  top: 0.75em;
  left: 0;
  width: 0.2em;
  height: 0.25em;
}

.hamster__body {
  animation: hamsterBody var(--dur) ease-in-out infinite;
  background: hsl(30,90%,90%);
  border-radius: 50% 30% 50% 30% / 15% 60% 40% 40%;
  box-shadow: 0.1em 0.75em 0 hsl(30,90%,55%) inset,
		0.15em -0.5em 0 hsl(30,90%,80%) inset;
  top: 0.25em;
  left: 2em;
  width: 4.5em;
  height: 3em;
  transform-origin: 17% 50%;
  transform-style: preserve-3d;
}

.hamster__limb--fr,
.hamster__limb--fl {
  clip-path: polygon(0 0,100% 0,70% 80%,60% 100%,0% 100%,40% 80%);
  top: 2em;
  left: 0.5em;
  width: 1em;
  height: 1.5em;
  transform-origin: 50% 0;
}

.hamster__limb--fr {
  animation: hamsterFRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,80%) 80%,hsl(0,90%,75%) 80%);
  transform: rotate(15deg) translateZ(-1px);
}

.hamster__limb--fl {
  animation: hamsterFLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,90%) 80%,hsl(0,90%,85%) 80%);
  transform: rotate(15deg);
}

.hamster__limb--br,
.hamster__limb--bl {
  border-radius: 0.75em 0.75em 0 0;
  clip-path: polygon(0 0,100% 0,100% 30%,70% 90%,70% 100%,30% 100%,40% 90%,0% 30%);
  top: 1em;
  left: 2.8em;
  width: 1.5em;
  height: 2.5em;
  transform-origin: 50% 30%;
}

.hamster__limb--br {
  animation: hamsterBRLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,80%) 90%,hsl(0,90%,75%) 90%);
  transform: rotate(-25deg) translateZ(-1px);
}

.hamster__limb--bl {
  animation: hamsterBLLimb var(--dur) linear infinite;
  background: linear-gradient(hsl(30,90%,90%) 90%,hsl(0,90%,85%) 90%);
  transform: rotate(-25deg);
}

.hamster__tail {
  animation: hamsterTail var(--dur) linear infinite;
  background: hsl(0,90%,85%);
  border-radius: 0.25em 50% 50% 0.25em;
  box-shadow: 0 -0.2em 0 hsl(0,90%,75%) inset;
  top: 1.5em;
  right: -0.5em;
  width: 1em;
  height: 0.5em;
  transform: rotate(30deg) translateZ(-1px);
  transform-origin: 0.25em 0.25em;
}

.spoke {
  animation: spoke var(--dur) linear infinite;
  background: radial-gradient(100% 100% at center,hsl(0,0%,60%) 4.8%,hsla(0,0%,60%,0) 5%),
		linear-gradient(hsla(0,0%,55%,0) 46.9%,hsl(0,0%,65%) 47% 52.9%,hsla(0,0%,65%,0) 53%) 50% 50% / 99% 99% no-repeat;
}


/* =========================================== Animations =========================================== */

@keyframes hamster {
  from, to {
    transform: rotate(4deg) translate(-0.8em,1.85em);
  }

  50% {
    transform: rotate(0) translate(-0.8em,1.85em);
  }
}

@keyframes hamsterHead {
  from, 25%, 50%, 75%, to {
    transform: rotate(0);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(8deg);
  }
}

@keyframes hamsterEye {
  from, 90%, to {
    transform: scaleY(1);
  }

  95% {
    transform: scaleY(0);
  }
}

@keyframes hamsterEar {
  from, 25%, 50%, 75%, to {
    transform: rotate(0);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(12deg);
  }
}

@keyframes hamsterBody {
  from, 25%, 50%, 75%, to {
    transform: rotate(0);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(-2deg);
  }
}

@keyframes hamsterFRLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(50deg) translateZ(-1px);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(-30deg) translateZ(-1px);
  }
}

@keyframes hamsterFLLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(-30deg);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(50deg);
  }
}

@keyframes hamsterBRLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(-60deg) translateZ(-1px);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(20deg) translateZ(-1px);
  }
}

@keyframes hamsterBLLimb {
  from, 25%, 50%, 75%, to {
    transform: rotate(20deg);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(-60deg);
  }
}

@keyframes hamsterTail {
  from, 25%, 50%, 75%, to {
    transform: rotate(30deg) translateZ(-1px);
  }

  12.5%, 37.5%, 62.5%, 87.5% {
    transform: rotate(10deg) translateZ(-1px);
  }
}

@keyframes spoke {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-1turn);
  }
}

/* ============================== Retake Pic button  ======================================*/

.primary-button{
  margin-top: 10px;
  margin-bottom: 10px;
}

.primary-button:hover {
  border: 1px solid #f4ff5d;
  color: var(--background);
  background-position: 40%;
 }
 
 .primary-button:before {
  content: "";
  position: absolute;
  background-color: #0E1822;
  width: 0.2rem;
  height: 0.2rem;
  top: -1px;
  left: -1px;
  transition: background-color 0.15s ease-in-out;
 }
 
 .primary-button:hover:before {
  background-color: var(--background);
 }
 
 /* .primary-button:hover:after {
  background-color: white;
 } */
 
 .primary-button:after {
  position: absolute;
  background-color: var(--background);
  width: 0.3rem;
  height: 0.3rem;
  bottom: -1px;
  right: -1px;
  transition: background-color 0.15s ease-in-out;
 }
 
 .button-borders {
  position: relative;
  width: fit-content;
  height: fit-content;
 }
 
 .button-borders:before {
  content: "";
  position: absolute;
  width: calc(100% + 0.5em);
  height: 50%;
  left: -0.3em;
  top: -0.3em;
  border: 1px solid #0E1822;
  border-bottom: 0px;
     /* opacity: 0.3; */
 }
 
 .button-borders:after {
  content: "";
  position: absolute;
  width: calc(100% + 0.5em);
  height: 50%;
  left: -0.3em;
  bottom: -0.3em;
  border: 1px solid #0E1822;
  border-top: 0px;
     /* opacity: 0.3; */
  z-index: 0;
 }
 
 .shape {
  fill: #0E1822;
 }