<!DOCTYPE html>
<html>
<head>
    <title>Low Light Enhancement Demo</title>
    <style>
        .container{
            display: flex;
            align-content: center;
        }
        .container img {
            width: 50%;
            align-self: center;
        }
    </style>
</head>
<body>
    <h1>Low Light Enhancement Demo</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>

    {% if lowlight_filename and adjusted_filename %}
    <div class="container">
        <div>
            <h2>Original Image</h2>
            <img src="{{ url_for('static', filename='uploads/' + lowlight_filename) }}" alt="Low Light Image">
        </div>
        <div>
            <h2>Adjusted Image</h2>
            <img src="{{ url_for('static', filename='uploads/' + adjusted_filename) }}" alt="Adjusted Image">
        </div>
    </div>
    {% endif %}
</body>
</html>
